In [1]:
%load_ext sql

In [3]:
%sql sqlite:///compras.db

In [12]:
%%sql
Select distinct Clientes.nombre
From Clientes, Pedidos, Tiendas
Where Clientes.cid = Pedidos.cid 
and
Pedidos.tid = Tiendas.tid
and
Tiendas.rubro = 'Tecnologia'

 * sqlite:///compras.db
Done.

[('Julio',), ('Arturo',)]

In [13]:
%%sql
Select pid,cid, fecha, strftime('%Y',fecha) as "año", monto
from Pedidos
Where año = '2016'

 * sqlite:///compras.db
Done.

[(1, 23, '2016-10-10', '2016', 25000),
 (2, 23, '2016-10-12', '2016', 20000),
 (3, 23, '2016-08-10', '2016', 3500)]

In [7]:
%%sql
Select strftime('%Y',fecha) as "año", AVG(monto)
from Pedidos
Group BY año

 * sqlite:///compras.db
Done.

[('2016', 16166.666666666666),
 ('2017', 5100.0),
 ('2018', 13833.333333333334),
 ('2019', 2050.0)]