In [1]:
pip install SQLAlchemy==1.4.46

Collecting SQLAlchemy==1.4.46Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading SQLAlchemy-1.4.46.tar.gz (8.5 MB)
     ---------------------------------------- 0.0/8.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/8.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/8.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/8.5 MB ? eta -:--:--
     - -------------------------------------- 0.3/8.5 MB ? eta -:--:--
     - -------------------------------------- 0.3/8.5 MB ? eta -:--:--
     - -------------------------------------- 0.3/8.5 MB ? eta -:--:--
     -- ------------------------------------- 0.5/8.5 MB 438.7 kB/s eta 0:00:19
     -- ------------------------------------- 0.5/8.5 MB 438.7 kB/s eta 0:00:19
     -- ------------------------------------- 0.5/8.5 MB 438.7 kB/s eta 0:00:19
     --- ------------------------------------ 0.8/8.5 MB 418.6 kB/s eta 0:00:19
     --- ------------------------------------ 0.8/8.5 MB 418.6 kB/s eta 0:00:19
     ---- ----------------------------------- 1.0/8.5 MB 427.8 kB/s eta 0:00:18
     ---- ----------------------------------- 1.0/8.5 MB 427.8 kB/s eta 0:00:18
     ---- ----------------------------------- 1.0/8.5 MB 427.8 kB/s eta 0:00:18
     ------ --------------------------------- 1.3/8.5 MB 440.6 kB/s eta 0:00:17
     ------ --------------------------------- 1.3/8.5 MB 440.6 kB/s eta 0:00:17
     ------- -------------------------------- 1.6/8.5 MB 459.3 kB/s eta 0:00:16
     ------- -------------------------------- 1.6/8.5 MB 459.3 kB/s eta 0:00:16
     ------- -------------------------------- 1.6/8.5 MB 459.3 kB/s eta 0:00:16
     -------- ------------------------------- 1.8/8.5 MB 459.5 kB/s eta 0:00:15
     -------- ------------------------------- 1.8/8.5 MB 459.5 kB/s eta 0:00:15
     -------- ------------------------------- 1.8/8.5 MB 459.5 kB/s eta 0:00:15
     --------- ------------------------------ 2.1/8.5 MB 456.4 kB/s eta 0:00:15
     --------- ------------------------------ 2.1/8.5 MB 456.4 kB/s eta 0:00:15
     ----------- ---------------------------- 2.4/8.5 MB 465.5 kB/s eta 0:00:14
     ----------- ---------------------------- 2.4/8.5 MB 465.5 kB/s eta 0:00:14
     ------------ --------------------------- 2.6/8.5 MB 468.2 kB/s eta 0:00:13
     ------------ --------------------------- 2.6/8.5 MB 468.2 kB/s eta 0:00:13
     ------------ --------------------------- 2.6/8.5 MB 468.2 kB/s eta 0:00:13
     ------------- -------------------------- 2.9/8.5 MB 469.5 kB/s eta 0:00:13
     ------------- -------------------------- 2.9/8.5 MB 469.5 kB/s eta 0:00:13
     -------------- ------------------------- 3.1/8.5 MB 473.4 kB/s eta 0:00:12
     -------------- ------------------------- 3.1/8.5 MB 473.4 kB/s eta 0:00:12
     -------------- ------------------------- 3.1/8.5 MB 473.4 kB/s eta 0:00:12
     --------------- ------------------------ 3.4/8.5 MB 475.0 kB/s eta 0:00:11
     --------------- ------------------------ 3.4/8.5 MB 475.0 kB/s eta 0:00:11
     --------------- ------------------------ 3.4/8.5 MB 475.0 kB/s eta 0:00:11
     ----------------- ---------------------- 3.7/8.5 MB 463.8 kB/s eta 0:00:11
     ----------------- ---------------------- 3.7/8.5 MB 463.8 kB/s eta 0:00:11
     ----------------- ---------------------- 3.7/8.5 MB 463.8 kB/s eta 0:00:11
     ------------------ --------------------- 3.9/8.5 MB 461.3 kB/s eta 0:00:10
     ------------------ --------------------- 3.9/8.5 MB 461.3 kB/s eta 0:00:10
     ------------------ --------------------- 3.9/8.5 MB 461.3 kB/s eta 0:00:10
     ------------------- -------------------- 4.2/8.5 MB 457.9 kB/s eta 0:00:10
     ------------------- -------------------- 4.2/8.5 MB 457.9 kB/s eta 0:00:10
     ------------------- -------------------- 4.2/8.5 MB 457.9 kB/s eta 0:00:10
     -------------------- ------------------- 4.5/8.5 MB 449.5 kB/s eta 0:00:10
     -------------------- ------------------- 4.5/8.5 MB 449.5 kB/s eta 0:00:10
     -------------------- ------------------- 4.5/8.5 MB 449.5 kB/s eta 0:00:10
     ---------------------- ----------------- 4.7/8.5 MB 445.6 kB/s eta 0:00:09
     ---------------------- ----------------- 4.7/8.5 MB 445.6 kB/s eta 0:00:09
     ---------------------- ----------------- 4.7/8.5 MB 445.6 kB/s eta 0:00:09
     ----------------------- ---------------- 5.0/8.5 MB 444.8 kB/s eta 0:00:09
     ----------------------- ---------------- 5.0/8.5 MB 444.8 kB/s eta 0:00:09
     ----------------------- ---------------- 5.0/8.5 MB 444.8 kB/s eta 0:00:09
     ------------------------ --------------- 5.2/8.5 MB 441.9 kB/s eta 0:00:08
     ------------------------ --------------- 5.2/8.5 MB 441.9 kB/s eta 0:00:08
     ------------------------ --------------- 5.2/8.5 MB 441.9 kB/s eta 0:00:08
     ------------------------ --------------- 5.2/8.5 MB 441.9 kB/s eta 0:00:08
     ------------------------- -------------- 5.5/8.5 MB 436.9 kB/s eta 0:00:07
     ------------------------- -------------- 5.5/8.5 MB 436.9 kB/s eta 0:00:07
     ------------------------- -------------- 5.5/8.5 MB 436.9 kB/s eta 0:00:07
     -------------------------- ------------- 5.8/8.5 MB 432.4 kB/s eta 0:00:07
     -------------------------- ------------- 5.8/8.5 MB 432.4 kB/s eta 0:00:07
     -------------------------- ------------- 5.8/8.5 MB 432.4 kB/s eta 0:00:07
     ---------------------------- ----------- 6.0/8.5 MB 428.8 kB/s eta 0:00:06
     ---------------------------- ----------- 6.0/8.5 MB 428.8 kB/s eta 0:00:06
     ---------------------------- ----------- 6.0/8.5 MB 428.8 kB/s eta 0:00:06
     ---------------------------- ----------- 6.0/8.5 MB 428.8 kB/s eta 0:00:06
     ----------------------------- ---------- 6.3/8.5 MB 424.1 kB/s eta 0:00:06
     ----------------------------- ---------- 6.3/8.5 MB 424.1 kB/s eta 0:00:06
     ----------------------------- ---------- 6.3/8.5 MB 424.1 kB/s eta 0:00:06
     ----------------------------- ---------- 6.3/8.5 MB 424.1 kB/s eta 0:00:06
     ------------------------------ --------- 6.6/8.5 MB 416.2 kB/s eta 0:00:05
     ------------------------------ --------- 6.6/8.5 MB 416.2 kB/s eta 0:00:05
     ------------------------------ --------- 6.6/8.5 MB 416.2 kB/s eta 0:00:05
     ------------------------------- -------- 6.8/8.5 MB 418.0 kB/s eta 0:00:05
     ------------------------------- -------- 6.8/8.5 MB 418.0 kB/s eta 0:00:05
     ------------------------------- -------- 6.8/8.5 MB 418.0 kB/s eta 0:00:05
     --------------------------------- ------ 7.1/8.5 MB 415.6 kB/s eta 0:00:04
     --------------------------------- ------ 7.1/8.5 MB 415.6 kB/s eta 0:00:04
     --------------------------------- ------ 7.1/8.5 MB 415.6 kB/s eta 0:00:04
     --------------------------------- ------ 7.1/8.5 MB 415.6 kB/s eta 0:00:04
     ---------------------------------- ----- 7.3/8.5 MB 410.2 kB/s eta 0:00:03
     ---------------------------------- ----- 7.3/8.5 MB 410.2 kB/s eta 0:00:03
     ---------------------------------- ----- 7.3/8.5 MB 410.2 kB/s eta 0:00:03
     ----------------------------------- ---- 7.6/8.5 MB 409.6 kB/s eta 0:00:03
     ----------------------------------- ---- 7.6/8.5 MB 409.6 kB/s eta 0:00:03
     ----------------------------------- ---- 7.6/8.5 MB 409.6 kB/s eta 0:00:03
     ----------------------------------- ---- 7.6/8.5 MB 409.6 kB/s eta 0:00:03
     ------------------------------------ --- 7.9/8.5 MB 405.2 kB/s eta 0:00:02
     ------------------------------------ --- 7.9/8.5 MB 405.2 kB/s eta 0:00:02
     ------------------------------------ --- 7.9/8.5 MB 405.2 kB/s eta 0:00:02
     -------------------------------------- - 8.1/8.5 MB 404.7 kB/s eta 0:00:02
     -------------------------------------- - 8.1/8.5 MB 404.7 kB/s eta 0:00:02
     -------------------------------------- - 8.1/8.5 MB 404.7 kB/s eta 0:00:02
     -------------------------------------- - 8.1/8.5 MB 404.7 kB/s eta 0:00:02
     ---------------------------------------  8.4/8.5 MB 402.9 kB/s eta 0:00:01
     ---------------------------------------  8.4/8.5 MB 402.9 kB/s eta 0:00:01
     ---------------------------------------  8.4/8.5 MB 402.9 kB/s eta 0:00:01
     ---------------------------------------  8.4/8.5 MB 402.9 kB/s eta 0:00:01
     ---------------------------------------- 8.5/8.5 MB 391.2 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting greenlet!=0.4.17 (from SQLAlchemy==1.4.46)
  Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl (299 kB)
Building wheels for collected packages: SQLAlchemy
  Building wheel for SQLAlchemy (pyproject.toml): started
  Building wheel for SQLAlchemy (pyproject.toml): finished with status 'done'
  Created wheel for SQLAlchemy: filename=SQLAlchemy-1.4.46-cp313-cp313-win_amd64.whl size=1545926 sha256=eb62a1ff34469dc66dd2794fc84a8215960a2dc190916197b2e6248a8953ac6a
  Stored in directory: c:\users\socofin\appdata\local\pip\cache\wheels\ee\0b\6b\3d4d8f65ace7e18eca88300fb57cd0e4bbbaeafc6d4d3ec4b4
Successfully built SQLAlchemy
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-1.4.46 greenlet-3.1.1

In [2]:
pip install PyMySQL==1.0.2

Collecting PyMySQL==1.0.2Note: you may need to restart the kernel to use updated packages.

  Downloading PyMySQL-1.0.2-py3-none-any.whl.metadata (5.1 kB)
Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install ipython-sql==0.4.1

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl.metadata (17 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: ipython>=1.0 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython-sql==0.4.1) (8.28.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\socofin\appdata\local\programs\python\python313\lib\site-packages (from ipython-sql==0.4.1) (1.4.46)
Collecting sqlparse (from ipython-sql==0.4.1)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython-sql==0.4.1) (1.16.0)
Collecting ipython-genutils>=0.1.0 (from ipython-sql==0.4.1)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: decorator in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.18.0)
Requirement already satisfied: stack-data in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.14.3)
Requirement already satisfied: colorama in c:\users\socofin\appdata\roaming\python\python313\site-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.4.6)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\socofin\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\socofin\appdata\roaming\python\python313\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\socofin\appdata\roaming\python\python313\site-packages (from stack-data->ipython>=1.0->ipython-sql==0.4.1) (0.2.3)
Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (pyproject.toml): started
  Building wheel for prettytable (pyproject.toml): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13705 sha256=a952c3a088f75bf1bd8427ecc0adab80e6e90a1f7d6db52bab1f0f762fffca4f
  Stored in directory: c:\users\socofin\appdata\local\pip\cache\wheels\ab\33\17\596fcc3828e23dd3e54118df5699ff0341a149cd621bd3e5da
Successfully built prettytable
Installing collected packages: prettytable, ipython-genutils, sqlparse, ipython-sql
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.5.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script sqlformat.exe is installed in 'c:\Users\Socofin\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
%load_ext sql

In [6]:
%sql sqlite:///compras.db
'Conected: @compras.db'

'Conected: @compras.db'

In [32]:
%%sql
CREATE TABLE Clientes(  cid INT PRIMARY KEY,
                        nombre VARCHAR,
                        edad INT
                        );
CREATE TABLE Tiendas(  tid INT PRIMARY KEY,
                        nombre VARCHAR,
                        direccion VARCHAR,
                        rubro VARCHAR
                        );

CREATE TABLE Pedidos(  pid INT PRIMARY KEY,
                        cid INT,
                        tid INT,
                        fecha DATE,
                        monto INT,
                        FOREIGN KEY (cid) REFERENCES Clientes(cid),
                        FOREIGN KEY (tid) REFERENCES Tiendas(tid)
                        );

 * sqlite:///compras.db
Done.
Done.
Done.

[]

In [31]:
%%sql
DROP TABLE Clientes;
DROP TABLE Tiendas;
DROP TABLE Pedidos;

 * sqlite:///compras.db
Done.
Done.
Done.

[]

In [33]:
%%sql
INSERT INTO Clientes VALUES(23, 'Julio',31);
INSERT INTO Clientes VALUES(29, 'Felipe',33);
INSERT INTO Clientes VALUES(31, 'Arturo',55);
INSERT INTO Clientes VALUES(32, 'Pedro',25);
INSERT INTO Clientes VALUES(58, 'Oscar',35);
INSERT INTO Clientes VALUES(64, 'Isidora',35);
INSERT INTO Clientes VALUES(71, 'Pedro',18);
INSERT INTO Clientes VALUES(74, 'Isidora',35);
INSERT INTO Clientes VALUES(85, 'Rosa',18);
INSERT INTO Clientes VALUES(95, 'Roman',63);

 * sqlite:///compras.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [34]:
%%sql
INSERT INTO Tiendas VALUES(101,'Pasteles Las Fatimas','Grecia 2490','Pasteleria');
INSERT INTO Tiendas VALUES(102,'Lider','Av Brasil 2213','Supermercado');
INSERT INTO Tiendas VALUES(103,'Jumbo','Santo Domingo 1928','Supermercado');
INSERT INTO Tiendas VALUES(104,'Apple','Camino el Alba 1023','Tecnologia');
INSERT INTO Tiendas VALUES(105,'Apple','Las Tortolas 2839','Tecnologia');
INSERT INTO Tiendas VALUES(106,'Pasteles Sur','Apoquindo 2233','Pasteleria');

 * sqlite:///compras.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [35]:
%%sql
INSERT INTO Pedidos VALUES(1,23,101,'2016-10-10',25000);
INSERT INTO Pedidos VALUES(2,23,102,'2016-10-12',20000);
INSERT INTO Pedidos VALUES(3,23,103,'2016-08-10',3500);
INSERT INTO Pedidos VALUES(4,23,104,'2017-11-11',9000);
INSERT INTO Pedidos VALUES(5,31,102,'2017-11-18',1200);
INSERT INTO Pedidos VALUES(6,31,103,'2018-11-26',23000);
INSERT INTO Pedidos VALUES(7,31,104,'2018-12-11',9500);
INSERT INTO Pedidos VALUES(8,64,101,'2018-12-21',9000);
INSERT INTO Pedidos VALUES(9,64,102,'2019-09-20',2900);
INSERT INTO Pedidos VALUES(10,74,103,'2019-09-22',1200);

 * sqlite:///compras.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [25]:
%%sql
UPDATE Clientes Set edad = 32 Where nombre = 'Julio'

 * sqlite:///compras.db
1 rows affected.

[]

In [26]:
%%sql
SELECT * FROM Clientes

 * sqlite:///compras.db
Done.

[(23, 'Julio', 32),
 (29, 'Felipe', 33),
 (31, 'Arturo', 55),
 (32, 'Pedro', 25),
 (58, 'Oscar', 35),
 (64, 'Isidora', 35),
 (71, 'Pedro', 18),
 (74, 'Isidora', 35),
 (85, 'Rosa', 18),
 (95, 'Roman', 63)]

In [29]:
%%sql
SELECT nombre, direccion FROM Tiendas
where rubro = 'Tecnologia'

 * sqlite:///compras.db
Done.

[('Apple', 'Camino el Alba 1023'), ('Apple', 'Las Tortolas 2839')]

In [36]:
%%sql
SELECT * FROM Pedidos
where monto > 10000

 * sqlite:///compras.db
Done.

[(1, 23, 101, '2016-10-10', 25000),
 (2, 23, 102, '2016-10-12', 20000),
 (6, 31, 103, '2018-11-26', 23000)]