# Libreria Pandas

<p> Permite trabajar con una estructura de datos semejante a una tabla llamada DataFrame
<ul>  
    <li> Fila = row
    <li>Columna = column

In [4]:
#pip instal pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.2-cp313-cp313-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\socofin\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--Note: you may need to restart the kernel to use updated packages.

   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 429.2 kB/s eta 0:00:26
   - -------------------------------------- 0.5/11.5 MB 429.2 kB/s eta 0:00:26
   - -------------------------------------- 0.5/11.5 MB 429.2 kB/s eta 0:00:26
   -- ------------------------------------- 0.8/11.5 MB 446.0 kB/s eta 0:00:24
   -- ------------------------------------- 0.8/11.5 MB 446.0 kB/s eta 0:00:24
   --- ------------------------------------ 1.0/11.5 MB 479.1 kB/s eta 0:00:22
   --- ------------------------------------ 1.0/11.5 MB 479.1 kB/s eta 0:00:22
   --- ------------------------------------ 1.0/11.5 MB 479.1 kB/s eta 0:00:22
   ---- ----------------------------------- 1.3/11.5 MB 468.2 kB/s eta 0:00:22
   ---- ----------------------------------- 1.3/11.5 MB 468.2 kB/s eta 0:00:22
   ---- ----------------------------------- 1.3/11.5 MB 468.2 kB/s eta 0:00:22
   ----- ---------------------------------- 1.6/11.5 MB 455.3 kB/s eta 0:00:22
   ----- ---------------------------------- 1.6/11.5 MB 455.3 kB/s eta 0:00:22
   ------ --------------------------------- 1.8/11.5 MB 473.5 kB/s eta 0:00:21
   ------ --------------------------------- 1.8/11.5 MB 473.5 kB/s eta 0:00:21
   ------- -------------------------------- 2.1/11.5 MB 487.7 kB/s eta 0:00:20
   ------- -------------------------------- 2.1/11.5 MB 487.7 kB/s eta 0:00:20
   ------- -------------------------------- 2.1/11.5 MB 487.7 kB/s eta 0:00:20
   -------- ------------------------------- 2.4/11.5 MB 476.3 kB/s eta 0:00:20
   -------- ------------------------------- 2.4/11.5 MB 476.3 kB/s eta 0:00:20
   -------- ------------------------------- 2.4/11.5 MB 476.3 kB/s eta 0:00:20
   --------- ------------------------------ 2.6/11.5 MB 469.3 kB/s eta 0:00:19
   --------- ------------------------------ 2.6/11.5 MB 469.3 kB/s eta 0:00:19
   ---------- ----------------------------- 2.9/11.5 MB 475.2 kB/s eta 0:00:19
   ---------- ----------------------------- 2.9/11.5 MB 475.2 kB/s eta 0:00:19
   ---------- ----------------------------- 2.9/11.5 MB 475.2 kB/s eta 0:00:19
   ---------- ----------------------------- 3.1/11.5 MB 477.7 kB/s eta 0:00:18
   ---------- ----------------------------- 3.1/11.5 MB 477.7 kB/s eta 0:00:18
   ----------- ---------------------------- 3.4/11.5 MB 478.7 kB/s eta 0:00:17
   ----------- ---------------------------- 3.4/11.5 MB 478.7 kB/s eta 0:00:17
   ----------- ---------------------------- 3.4/11.5 MB 478.7 kB/s eta 0:00:17
   ------------ --------------------------- 3.7/11.5 MB 478.3 kB/s eta 0:00:17
   ------------ --------------------------- 3.7/11.5 MB 478.3 kB/s eta 0:00:17
   ------------- -------------------------- 3.9/11.5 MB 484.9 kB/s eta 0:00:16
   -------------- ------------------------- 4.2/11.5 MB 494.4 kB/s eta 0:00:15
   -------------- ------------------------- 4.2/11.5 MB 494.4 kB/s eta 0:00:15
   --------------- ------------------------ 4.5/11.5 MB 505.7 kB/s eta 0:00:14
   --------------- ------------------------ 4.5/11.5 MB 505.7 kB/s eta 0:00:14
   ---------------- ----------------------- 4.7/11.5 MB 515.1 kB/s eta 0:00:14
   ----------------- ---------------------- 5.0/11.5 MB 523.6 kB/s eta 0:00:13
   ----------------- ---------------------- 5.0/11.5 MB 523.6 kB/s eta 0:00:13
   ------------------ --------------------- 5.2/11.5 MB 536.0 kB/s eta 0:00:12
   -------------------- ------------------- 5.8/11.5 MB 568.0 kB/s eta 0:00:11

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\Socofin\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

   --------------------- ------------------ 6.0/11.5 MB 585.9 kB/s eta 0:00:10
   --------------------- ------------------ 6.3/11.5 MB 600.7 kB/s eta 0:00:09
   ---------------------- ----------------- 6.6/11.5 MB 617.6 kB/s eta 0:00:08
   ----------------------- ---------------- 6.8/11.5 MB 626.5 kB/s eta 0:00:08
   ------------------------ --------------- 7.1/11.5 MB 634.3 kB/s eta 0:00:07
   ------------------------- -------------- 7.3/11.5 MB 650.5 kB/s eta 0:00:07
   --------------------------- ------------ 7.9/11.5 MB 679.4 kB/s eta 0:00:06
   --------------------------- ------------ 7.9/11.5 MB 679.4 kB/s eta 0:00:06
   ---------------------------- ----------- 8.1/11.5 MB 685.1 kB/s eta 0:00:05
   ----------------------------- ---------- 8.4/11.5 MB 693.6 kB/s eta 0:00:05
   ------------------------------ --------- 8.7/11.5 MB 707.2 kB/s eta 0:00:05
   ------------------------------- -------- 8.9/11.5 MB 717.8 kB/s eta 0:00:04
   ------------------------------- -------- 9.2/11.5 MB 722.9 kB/s eta 0:00:04
   -------------------------------- ------- 9.4/11.5 MB 731.1 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 733.1 kB/s eta 0:00:03
   --------------------------------- ------ 9.7/11.5 MB 733.1 kB/s eta 0:00:03
   ---------------------------------- ----- 10.0/11.5 MB 733.2 kB/s eta 0:00:03
   ---------------------------------- ----- 10.0/11.5 MB 733.2 kB/s eta 0:00:03
   ----------------------------------- ---- 10.2/11.5 MB 730.7 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 734.6 kB/s eta 0:00:02
   ------------------------------------ --- 10.5/11.5 MB 734.6 kB/s eta 0:00:02
   ------------------------------------- -- 10.7/11.5 MB 735.6 kB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 735.6 kB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 733.7 kB/s eta 0:00:01
   -------------------------------------- - 11.0/11.5 MB 733.7 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 729.6 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 729.6 kB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 729.6 kB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 715.0 kB/s eta 0:00:00
Downloading numpy-2.1.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
    --------------------------------------- 0.3/12.6 MB ? eta -:--:--
    --------------------------------------- 0.3/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.6 MB 532.1 kB/s eta 0:00:23
   - -------------------------------------- 0.5/12.6 MB 532.1 kB/s eta 0:00:23
   - -------------------------------------- 0.5/12.6 MB 532.1 kB/s eta 0:00:23
   -- ------------------------------------- 0.8/12.6 MB 547.0 kB/s eta 0:00:22
   -- ------------------------------------- 0.8/12.6 MB 547.0 kB/s eta 0:00:22
   --- ------------------------------------ 1.0/12.6 MB 551.8 kB/s eta 0:00:21
   ---- ----------------------------------- 1.3/12.6 MB 616.7 kB/s eta 0:00:19
   ----- ---------------------------------- 1.6/12.6 MB 644.2 kB/s eta 0:00:18
   ----- ---------------------------------- 1.6/12.6 MB 644.2 kB/s eta 0:00:18
   ----- ---------------------------------- 1.8/12.6 MB 664.2 kB/s eta 0:00:17
   ----- ---------------------------------- 1.8/12.6 MB 664.2 kB/s eta 0:00:17
   ------ --------------------------------- 2.1/12.6 MB 658.8 kB/s eta 0:00:16
   ------ --------------------------------- 2.1/12.6 MB 658.8 kB/s eta 0:00:16
   ------- -------------------------------- 2.4/12.6 MB 674.2 kB/s eta 0:00:16
   -------- ------------------------------- 2.6/12.6 MB 708.1 kB/s eta 0:00:15
   --------- ------------------------------ 2.9/12.6 MB 741.7 kB/s eta 0:00:14
   ---------- ----------------------------- 3.1/12.6 MB 739.0 kB/s eta 0:00:13
   ---------- ----------------------------- 3.1/12.6 MB 739.0 kB/s eta 0:00:13
   ---------- ----------------------------- 3.4/12.6 MB 733.4 kB/s eta 0:00:13
   ---------- ----------------------------- 3.4/12.6 MB 733.4 kB/s eta 0:00:13
   ----------- ---------------------------- 3.7/12.6 MB 721.9 kB/s eta 0:00:13
   ----------- ---------------------------- 3.7/12.6 MB 721.9 kB/s eta 0:00:13
   ----------- ---------------------------- 3.7/12.6 MB 721.9 kB/s eta 0:00:13
   ----------- ---------------------------- 3.7/12.6 MB 721.9 kB/s eta 0:00:13
   ------------ --------------------------- 3.9/12.6 MB 649.5 kB/s eta 0:00:14
   ------------ --------------------------- 3.9/12.6 MB 649.5 kB/s eta 0:00:14
   ------------- -------------------------- 4.2/12.6 MB 667.3 kB/s eta 0:00:13
   ------------- -------------------------- 4.2/12.6 MB 667.3 kB/s eta 0:00:13
   -------------- ------------------------- 4.5/12.6 MB 664.3 kB/s eta 0:00:13
   --------------- ------------------------ 4.7/12.6 MB 674.4 kB/s eta 0:00:12
   --------------- ------------------------ 4.7/12.6 MB 674.4 kB/s eta 0:00:12
   --------------- ------------------------ 5.0/12.6 MB 664.7 kB/s eta 0:00:12
   ---------------- ----------------------- 5.2/12.6 MB 679.3 kB/s eta 0:00:11
   ---------------- ----------------------- 5.2/12.6 MB 679.3 kB/s eta 0:00:11
   ----------------- ---------------------- 5.5/12.6 MB 686.5 kB/s eta 0:00:11
   ------------------ --------------------- 5.8/12.6 MB 694.6 kB/s eta 0:00:10
   -------------------- ------------------- 6.3/12.6 MB 737.5 kB/s eta 0:00:09
   --------------------- ------------------ 6.8/12.6 MB 782.4 kB/s eta 0:00:08
   --------------------- ------------------ 6.8/12.6 MB 782.4 kB/s eta 0:00:08
   ---------------------- ----------------- 7.1/12.6 MB 783.2 kB/s eta 0:00:08
   ---------------------- ----------------- 7.1/12.6 MB 783.2 kB/s eta 0:00:08
   ----------------------- ---------------- 7.3/12.6 MB 778.4 kB/s eta 0:00:07
   ------------------------ --------------- 7.6/12.6 MB 783.9 kB/s eta 0:00:07
   ------------------------ --------------- 7.6/12.6 MB 783.9 kB/s eta 0:00:07
   ------------------------- -------------- 7.9/12.6 MB 782.0 kB/s eta 0:00:07
   ------------------------- -------------- 7.9/12.6 MB 782.0 kB/s eta 0:00:07
   ------------------------- -------------- 7.9/12.6 MB 782.0 kB/s eta 0:00:07
   -------------------------- ------------- 8.4/12.6 MB 780.6 kB/s eta 0:00:06
   --------------------------- ------------ 8.7/12.6 MB 785.9 kB/s eta 0:00:05
   ---------------------------- ----------- 8.9/12.6 MB 789.6 kB/s eta 0:00:05
   ---------------------------- ----------- 8.9/12.6 MB 789.6 kB/s eta 0:00:05
   ------------------------------ --------- 9.4/12.6 MB 804.8 kB/s eta 0:00:04
   ------------------------------ --------- 9.4/12.6 MB 804.8 kB/s eta 0:00:04
   ------------------------------- -------- 10.0/12.6 MB 819.9 kB/s eta 0:00:04
   -------------------------------- ------- 10.2/12.6 MB 830.0 kB/s eta 0:00:03
   --------------------------------- ------ 10.5/12.6 MB 834.9 kB/s eta 0:00:03
   ---------------------------------- ----- 10.7/12.6 MB 840.4 kB/s eta 0:00:03
   ---------------------------------- ----- 10.7/12.6 MB 840.4 kB/s eta 0:00:03
   ----------------------------------- ---- 11.0/12.6 MB 845.4 kB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.6 MB 844.5 kB/s eta 0:00:02
   ----------------------------------- ---- 11.3/12.6 MB 844.5 kB/s eta 0:00:02
   ------------------------------------ --- 11.5/12.6 MB 839.9 kB/s eta 0:00:02
   ------------------------------------ --- 11.5/12.6 MB 839.9 kB/s eta 0:00:02
   ------------------------------------- -- 11.8/12.6 MB 829.4 kB/s eta 0:00:01
   ------------------------------------- -- 11.8/12.6 MB 829.4 kB/s eta 0:00:01
   -------------------------------------- - 12.1/12.6 MB 821.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 825.4 kB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 724.4 kB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [5]:
import pandas as pd

In [9]:
diccionario_personas = {'rut':[12394845,19847453],
                        'nombre': ['Pablo','Julio']}
df = pd.DataFrame(diccionario_personas)
df

        rut nombre
0  12394845  Pablo
1  19847453  Julio

In [8]:
#mport pandas as pd

df2 = pd.read_csv('archivoCsv.csv',sep=';')

df2

    Nombre     Apellido  Edad
0     Juan        Pérez    45
1    Pedro  Picapiedras    58
2  Ricardo     González    35

In [15]:
df3 = pd.DataFrame()

df3['rut'] = [12394845,19847453,19284757,12837476]
df3['nombre'] = ['pablo','julio','maria','sofia']
df3['genero'] = ['hombre','hombre','mujer','mujer']
df3['edad'] = [12, 23, 15, 25]

df3

        rut nombre  genero  edad
0  12394845  pablo  hombre    12
1  19847453  julio  hombre    23
2  19284757  maria   mujer    15
3  12837476  sofia   mujer    25

## Filtros de Datos con Python

In [18]:
df3[df3['edad']>12]

        rut nombre  genero  edad
1  19847453  julio  hombre    23
2  19284757  maria   mujer    15
3  12837476  sofia   mujer    25

## USANDO AND &

In [19]:
df3[(df3['edad']>20) & (df3['genero']=='mujer')]

        rut nombre genero  edad
3  12837476  sofia  mujer    25

## USANDO OR |

In [20]:
df3[(df3['edad']>20) | (df3['genero']=='mujer')]

        rut nombre  genero  edad
1  19847453  julio  hombre    23
2  19284757  maria   mujer    15
3  12837476  sofia   mujer    25

## RECUENTO DE VALORES
### METODO 
<p>value_counts()

In [21]:
df3['genero'].value_counts()

genero
hombre    2
mujer     2
Name: count, dtype: int64

### VALORES UNICOS
<p> unique()

In [23]:
df3['genero'].unique()

array(['hombre', 'mujer'], dtype=object)

In [24]:
df_baterista = pd.read_csv('bateristas.csv')

In [29]:
df_baterista[(df_baterista['Año']>1970) & ((df_baterista['Mes']>=3) & (df_baterista['Mes']<= 11 ))]

   Nombre                   Apellido  Día  Mes   Año
4    Joey                   Jordison   26    4  1975
7   Tomas                      Haake   13    7  1971
10  Chris                      Adler   23   11  1972
13  Frost  (Kjetil-Vidar Haraldstad)   28    6  1973